<div id="contentContainer">
  <div id="channelContainer">
    <div id="channelTitle"><%= channel %></div>
    <div id="channelNumberOfUsers">0</div>
  </div>
  <div id="progressBarContainer">
    <div id="progressBar">
    </div>
  </div>
  <form id="fileUploader">
    <input type="file" />
  </form>
  <div id="fileContainer">
    <div id="fileWall" />
  </div>
  <div id="fileUploaderDropZone" />
</div>
