<div id="loginBox">
  <form id="loginForm" class="box" action="/login" method="post">
    <label class="formLabel">Username</label>
    <input type="text" name="username" />
    <input class="submit" type="submit" value="Go!" />
  </form>
</div>
