<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Node Forum: <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="wrap" class="box_effect">
      <header>
        <div>
          <h1><a href="/">Node Forum</a></h1>
          <div id="side">
            <%- username_or_login %>
          </div>
        </div>
        <nav>
          <ul class="clear">
            <li><a href="/topics">Top</a></li>
            <li><a href="/topics/1">Connect</a></li>
            <li><a href="/topics/2">Express</a></li>
            <li><a href="/topics/3">Socket.IO</a></li>
            <li><a href="/topics/4">Mocha</a></li>
            <li><a href="/topics/5">Vows</a></li>
          </ul>
        </nav>
      </header>
      <%- body %>
      <footer>
        <p id="copyright">Copyright &copy; 2012 node.js-jp All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
