<!DOCTYPE html>
    <html lang= "jp">
        <head>
                <meta charset="UTF-8">
                <title><%= title %></title>
        </head>
        <body>
            <p><%- text %></p>
            <p><%= n %> views</p>
        </body>
    </html>