<h2>ようこそ、<%= name %>さん</h2>
<p>開始ボタンを押下すると、10秒以内に同じく開始ボタンを押したユーザが500m以内にいれば、その一覧が表示されます。</p>
<p>10秒後にfollowボタンが表示されるので、押下すると表示されたユーザを一括でfollowできます。</p>
<a href="/start/" data-role="button" rel="external">開始</a>
